/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.calculator {
    text-align: center;
    margin-top: 50px; /* Добавим отступ сверху для центрирования */
}

.buttons button {
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Анимация при наведении */
}

.buttons button:hover {
    background-color: #2980b9; /* Изменение цвета при наведении */
}

/* Скрытие видео контейнера */
#video-container {
    display: none;
    text-align: center;
    margin-top: 20px;
}

/* Стили для мобильной адаптации */
@media screen and (max-width: 600px) {
    .calculator {
        margin-top: 20px; /* Уменьшим отступ сверху на мобильных устройствах */
    }

    .buttons button {
        width: 120px;
        height: 40px;
        font-size: 16px;
    }
}
