.calculator {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease-in-out;
}

.calculator.hide {
  opacity: 0;
  pointer-events: none;
}

.video-container {
  display: block;
  transition: opacity 0.5s ease-in-out;
}

.video-container.hide {
  opacity: 0;
  pointer-events: none;
}
